workflows/n8n/mcp_access_governance_poc_v0.json
{
  "name": "MCP Access Governance PoC v0",
  "nodes": [
    {
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "parameters": {}
    },
    {
      "id": "a1b2c3d4-0002-0002-0002-000000000002",
      "name": "Sample Workflow Input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [450, 300],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "field-001",
              "name": "workflow_name",
              "value": "example-mcp-data-pipeline",
              "type": "string"
            },
            {
              "id": "field-002",
              "name": "workflow_owner",
              "value": "",
              "type": "string"
            },
            {
              "id": "field-003",
              "name": "risk_classification",
              "value": "",
              "type": "string"
            },
            {
              "id": "field-004",
              "name": "submitted_by",
              "value": "Alex Rivera",
              "type": "string"
            },
            {
              "id": "field-005",
              "name": "team",
              "value": "Platform Enablement",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0003-0003-0003-000000000003",
      "name": "MCP Tool Server",
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1,
      "position": [650, 300],
      "parameters": {
        "url": "http://localhost:3000/sse",
        "toolName": "read_internal_documents",
        "description": "Read internal documents from the knowledge base MCP server."
      },
      "credentials": {
        "mcpClientCredentialsApi": {
          "id": "cred-fictional-001",
          "name": "MCP Knowledge Base (Fictional)"
        }
      }
    },
    {
      "id": "a1b2c3d4-0004-0004-0004-000000000004",
      "name": "AI Agent — Summarise and Route",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [850, 300],
      "parameters": {
        "systemMessage": "You are a governance assistant. Summarise the document context and suggest a routing decision based on the content sensitivity.",
        "promptType": "define"
      },
      "credentials": {
        "openAiApi": {
          "id": "cred-fictional-002",
          "name": "OpenAI (Fictional)"
        }
      }
    },
    {
      "id": "a1b2c3d4-0005-0005-0005-000000000005",
      "name": "Security Linter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1050, 300],
      "parameters": {
        "jsCode": "// Deterministic linter checks on workflow metadata\nconst workflowName = $input.first().json.workflow_name || 'unknown';\nconst owner = $input.first().json.workflow_owner || null;\nconst riskClass = $input.first().json.risk_classification || null;\n\nconst findings = [];\n\nif (!owner) {\n  findings.push({\n    rule_id: 'LINT-005',\n    severity: 'medium',\n    title: 'Workflow is missing owner metadata',\n    human_review_required: false\n  });\n}\n\nif (!riskClass) {\n  findings.push({\n    rule_id: 'LINT-006',\n    severity: 'low',\n    title: 'Workflow is missing risk classification metadata',\n    human_review_required: false\n  });\n}\n\nreturn [{ json: { workflow_name: workflowName, findings, finding_count: findings.length } }];\n"
      }
    },
    {
      "id": "a1b2c3d4-0006-0006-0006-000000000006",
      "name": "Has Findings?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1250, 300],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-001",
              "leftValue": "={{ $json.finding_count }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true
      }
    },
    {
      "id": "a1b2c3d4-0007-0007-0007-000000000007",
      "name": "Create Asana Review Task",
      "type": "n8n-nodes-base.asana",
      "typeVersion": 1,
      "position": [1450, 200],
      "parameters": {
        "operation": "create",
        "resource": "task",
        "workspace": "fictional-workspace-id-001",
        "projectId": "fictional-project-id-001",
        "name": "=MCP Governance Review: {{ $json.workflow_name }}",
        "description": "=Security linter findings require review.\n\nWorkflow: {{ $json.workflow_name }}\nFinding count: {{ $json.finding_count }}\n\nFindings:\n{{ JSON.stringify($json.findings, null, 2) }}\n\nThis task was created automatically by the MCP Access Governance PoC v0.",
        "section": "fictional-section-new-findings-001"
      },
      "credentials": {
        "asanaApi": {
          "id": "cred-fictional-003",
          "name": "Asana (Fictional)"
        }
      }
    },
    {
      "id": "a1b2c3d4-0008-0008-0008-000000000008",
      "name": "No Findings — Evidence Summary",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [1450, 400],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "field-101",
              "name": "result",
              "value": "pass",
              "type": "string"
            },
            {
              "id": "field-102",
              "name": "message",
              "value": "No linter findings. Workflow passed all checks.",
              "type": "string"
            }
          ]
        }
      }
    },
    {
      "id": "a1b2c3d4-0009-0009-0009-000000000009",
      "name": "Evidence Summary",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [1650, 300],
      "parameters": {
        "mode": "manual",
        "assignments": {
          "assignments": [
            {
              "id": "field-201",
              "name": "linter_run",
              "value": "complete",
              "type": "string"
            },
            {
              "id": "field-202",
              "name": "poc_version",
              "value": "v0",
              "type": "string"
            }
          ]
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{"node": "Sample Workflow Input", "type": "main", "index": 0}]]
    },
    "Sample Workflow Input": {
      "main": [[{"node": "MCP Tool Server", "type": "main", "index": 0}]]
    },
    "MCP Tool Server": {
      "main": [[{"node": "AI Agent — Summarise and Route", "type": "main", "index": 0}]]
    },
    "AI Agent — Summarise and Route": {
      "main": [[{"node": "Security Linter", "type": "main", "index": 0}]]
    },
    "Security Linter": {
      "main": [[{"node": "Has Findings?", "type": "main", "index": 0}]]
    },
    "Has Findings?": {
      "main": [
        [{"node": "Create Asana Review Task", "type": "main", "index": 0}],
        [{"node": "No Findings — Evidence Summary", "type": "main", "index": 0}]
      ]
    },
    "Create Asana Review Task": {
      "main": [[{"node": "Evidence Summary", "type": "main", "index": 0}]]
    },
    "No Findings — Evidence Summary": {
      "main": [[{"node": "Evidence Summary", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner"
  },
  "meta": {
    "instanceId": "fictional-instance-id-mcp-gov-poc-v0",
    "templateCredsSetupCompleted": false
  },
  "_governance_note": "This workflow export is a fictional sample for the MCP Access Governance PoC v0. All credential IDs, workspace IDs and project IDs are fictional placeholders. No real secrets, tokens or production identifiers are present. The workflow intentionally includes MCP and AI agent nodes without an approval gate and without owner or risk classification metadata to demonstrate linter findings.",
  "pinData": {}
}
